
#logo{
    width: auto;
    height: 250px;
    align-items: center;
    margin: 0 auto;
    margin-top: 40px;
}
.main{
    border: 3px solid var(--btn-hover);
    border-radius: 10px;
    background-color:var(--bg-secciones) ;
    max-width: 500px;
    align-items: center;
    margin: 0 auto ;
    margin: 60px auto 60px;
}
body{
    background-color:var(--bg-principal);
    font-family:Momo trust display, static;
    text-align: center;

}
h1{
    font-family: "Jua", sans-serif;
    color: var(--texto-patitas);
    text-align: center;
    font-size: 65px;
    margin-top: 5px;
    margin-bottom: 20px;
    
}
.botones-main {
    display: block;
    margin: 0 auto 10px auto;
    border: 2px solid var(--btn-borde);
    border-radius: 20px;
    width: 150px;
    height: 50px;
    font-family:Momo trust display, static;
    transition: transform 0.2s ease;
    cursor:pointer;
}
#iniciar{
    background-color: var(--btn-1);
}
#crear{
    background-color: var(--btn-2); 
}
h4{
    margin: auto 80px 20px 80px;
    text-align:center;

}
button:hover{
    transform:scale(1.2);
}

a {
    text-decoration: none;
}
footer{
    background-color:var(--bg-nav-footer);
    border-radius: 10px;
    gap:0px;
}
.botonesapps-posicion{
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
}
.botonesapps{
    border: var(--btn-borde) 2px solid;
    border-radius: 10px;
    background-color: var(--bg-principal);
    cursor:pointer;
}
.botonesapps:hover{
    background-color: var(--btn-1);
    transform:scale(1.2);
}
button{
    margin-right: 15px;
}
.img{
    width:30px;
    height:auto;
}
footer h4{
    display: block;
    text-align:justify;
    margin: 40px 500px auto 10px;
    padding-top: 20px;
    padding-left: 20px;
}
.copy{
    display: block;
    text-align: center;
    padding-bottom: 10px;
}