div{
    border: 3px solid #c9184a;
    border-radius: 10px;
    background-color:#fadde1 ;
    max-width: 500px;
    align-items: center;
    margin: 0 auto ;
    margin-top: 200px;
}
body{
    background-color:#ffcad4;
    font-family:Momo trust display, static;
    text-align: center;

}
button {
    display: block;
    margin: 25px auto 10px auto;
    border: 2px solid #590d22;
    border-radius: 20px;
    width: 150px;
    height: 50px;
    font-family:Momo trust display, static;
    transition: transform 0.2s ease;
    background-color: #fbb1bd;
}
button:hover{
    transform:scale(1.2);
}
input{
    background-color: #ebb3a9;
    width: 150px;
    height: 25px;
    border: 2px solid #590d22;
    border-radius: 10px;
    display: block;
    margin: 10px auto 10px auto;
}
input::placeholder{
    text-align: center;
}
a{
    color: inherit;        
}